*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: transparent;
}
button{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: 0px solid;
    border-radius: 10px;
}
.navbar{
padding: 20px 200px ;
}
.header{
width: 100%;
background-image: url(../Images/Background.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.content{
    text-align: center;
}
.content button{
    margin: auto;
}
.content h1{
    font-weight: bold;
    font-size: 50px;
}
.image{
    width: 75%;
    margin: auto; 
    margin-top: 70px;
}
img{
    width: 100%;
    height: 350px;
}
.home{
    padding: 0px 150px;
}
.row{
    margin: 0;
}
.card{
    border: 0px;
    padding-top: 70px;
}
.card h3{
    font-weight: bold;
}
.footer{
    padding: 50px 150px;
}
@media(max-width:750px) {
   .navbar{
    margin: 0;
    padding: 20px;
   }
   .image{
    width:90%;
}
.home{
    padding: 0px;
}
.footer{
    padding: 50px;
}
}
@media(max-width:960px) {
   .navbar{
    margin: 0;
    padding: 20px;
   }
   .image{
    width:90%;
}
.home{
    padding: 0px;
}
.footer{
    padding: 50px;
}
}